/** Стиль для контейнера, содержащего продукцию
и для каждого элемента продукции*/

/** Общий стиль страницы */
body {
    padding: 0;
    margin: 0;
    margin-right: 5%;
    margin-left: 5%;

    font-family: 'Montserrat-Italic', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

/** Стиль контейнера продукции*/

.container {
    width: 100%;

    display: table;
}

.content {
    margin: 10px;
    padding: 40px;
    float: right;
}

.title_content {
    color: #a30f2c;
}

.iamge_size {
    width: 400px;
    height: 290px;
}

.row {
    margin: 10px;
    display: table-row;
}

/** Стиль каждого элемента продукции */
.item_cake {

    display: table-cell;
}

.content_item_cake {

    margin: 20px;
    padding: 20px;
    padding-bottom: 80px;
    border: solid 10px #e6e6e6;

}

.name_cake {
    padding-left: 8px;
    display: table;
}

.price {
    padding-left: 40px;
    float: left;
}

.weight {
    padding-right: 40px;
    float: right;
}

